APP_PORT=4000

### JWT configuration

JWT_SECRET=kardashian
JWT_EXPIRES_IN=1d

### Redis configuration

REDIS_URI=redis://redis:6379
#REDIS_URI=redis://localhost:6379 # without docker

### MinIO configuration

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password
MINIO_BROWSER_REDIRECT_URL=http://localhost:8080/minio/console # for nginx
MINIO_ENDPOINT=http://minio:9000
MINIO_DEFAULT_BUCKETS=storage:public
MINIO_BUCKET_NAME=storage

### Database configuration
MONGO_URI=mongodb://mongo:27017/portfolios-api-mongo?directConnection=true
#MONGO_URI=mongodb://localhost:27017/portfolios-api-mongo?directConnection=true # backend without docker

### Grafana configuration

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=password
# Next configs for Nginx proxy
GF_SERVER_ROOT_URL=%(protocol)s://%(domain)s:%(http_port)s/grafana/
GF_SERVER_SERVE_FROM_SUB_PATH=true